configuration {
    modi: "drun,run,window,ssh";
    font: "JetBrains Mono Nerd Font 11";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "termite";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window";
    display-ssh: "   SSH";
    sidebar-mode: true;
}

@theme "~/.config/rofi/themes/gruvbox.rasi"
